{% extends 'base.html' %}
{% block content %}
    <article>
        <aside>
            <h2>
                noticeboard
            </h2>
            <ul>
                <li>notice goes here</li>
                <li>notice goes here</li>
            </ul>
        </aside>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore 
            magna aliqua. Sodales neque sodales ut etiam. Faucibus scelerisque eleifend donec pretium vulputate. Ac tortor 
            dignissim convallis aenean et. In nulla posuere sollicitudin aliquam ultrices sagittis orci a. Sagittis nisl 
            rhoncus mattis rhoncus. Enim tortor at auctor urna nunc id. Id ornare arcu odio ut sem nulla pharetra diam. 
            Odio pellentesque diam volutpat commodo sed egestas egestas. Placerat in egestas erat imperdiet. Risus at 
            ultrices mi tempus. Ac turpis egestas integer eget aliquet nibh. Eget nulla facilisi etiam dignissim diam quis 
            enim lobortis. Suspendisse interdum consectetur libero id faucibus. Sit amet mauris commodo quis imperdiet massa 
            tincidunt nunc pulvinar. Ornare suspendisse sed nisi lacus sed. Diam volutpat commodo sed egestas egestas fringilla 
            phasellus faucibus. Egestas fringilla phasellus faucibus scelerisque eleifend donec pretium. Vulputate dignissim 
            suspendisse in est ante in. Sollicitudin tempor id eu nisl nunc mi ipsum.
        </p>
        <p>
            Sit amet risus nullam eget felis eget nunc lobortis mattis. Neque ornare aenean euismod elementum. Duis ut diam quam 
            nulla. Etiam dignissim diam quis enim lobortis scelerisque fermentum dui. Pharetra et ultrices neque ornare aenean 
            euismod elementum. Fringilla phasellus faucibus scelerisque eleifend. Quam quisque id diam vel quam. Tempus quam 
            pellentesque nec nam aliquam sem et. Id volutpat lacus laoreet non. Scelerisque eleifend donec pretium vulputate. 
            Lacus viverra vitae congue eu consequat ac.
        </p>
    </article>
{% endblock %}}