{% extends 'base.html' %}
{% block content %}
    <article>
        <!-- <aside>
            <h2>
                noticeboard
            </h2>
            <ul>
                <li>notice goes here</li>
                <li>notice goes here</li>
            </ul>
        </aside> -->
        <h2>Instructions:</h2>
        <p>
            This is an app for making and viewing the rota for the Bell Jar. The manager can use the <b><a href="/staff/">view team</a></b> window to 
            add, edit and remove members of staff. Each member of staff has a minimum and maximum hours set when they are created 
            that can be edited after the fact. When you remove a member of staff their shifts will remain in the create page, but be assigned to "None". Staff can 
            view the rota from the <b><a href="/shifts/">view rota</a></b> page.
        </p>
        <p>
            You can create a rota from within the <b><a href="/shifts/create">create rota</a></b> panel, where the app is autoloaded
            with a standard pattern of shifts from which you can add or remove, or delete. Directly from that panel, you can add a staff member 
            to a shift by navigating to the desired staff member from the dropdown menu and then clicking okay. The page will reload with that staff
            member assigned to the shift (<b>PLEASE NOTE:</b> You must click okay to confirm the selection of each staff member, multiple staff cannot
             be added to the rota at the same time. This is mainly because this website doesn't use JavaScript). 
        </p>
        <p>     
            The top "create shift" panel sends a form
            that creates a new shift with a member of staff, a type ("open", "office" "cross", "close", "quiz"), a set of times and the amount of hours. 
            Please take care to fill in the amount of hours accurately when creating or editing a shift as it will effect the calculations used in determining 
            whether staff have the right amount of hours.
        </p>
        <p>
            A cool feature of the create rota window is that the members of staff are displayed below the rota, with their desired hours and their current hours below them. They will be 
            coloured red if their hours are outside of their max-min range and coloured green once they are happy with the rota!
        </p>
    </article>
{% endblock %}}