{% extends 'base.html' %}
{% block content %}
    <ul>
        <li>
            {% for shift in shifts %}
                <h3>{{shift.day}} {{shift.type}}, {{shift.times}}: {{shift.staff_member.name}}</h3>
                <a href="/shifts/shift/{{ shift.id }}" class="view_edit_link">view and edit details</a>
            {% endfor %}
        </li>
    </ul>
    <form id="create_shift" action="/shifts/create/post" method="post">
        <input type="text" placeholder="type" name="type" id="type">
        <input type="text" placeholder="times" name="times" id="times">
        <input type="text" placeholder="hours" name="hours" id="hours">
        <label for="day">day</label>
        <select name="day" id="day">
            <option value="Mon">Monday</option>
            <option value="Tue">Tuesday</option>
            <option value="Wed">Wednesday</option>
            <option value="Thu">Thursday</option>
            <option value="Fri">Friday</option>
            <option value="Sat">Saturday</option>
            <option value="Sun">Sunday</option>
        </select>
        <label for="staff">staff member</label>
        <select name="staff_id" id="staff">
            {% for staff_member in staff %}
                <option value="{{staff_member.id}}">{{staff_member.name}}</option>
            {% endfor %}
        </select>
        <input type="submit" value="create shift">
    </form>
{% endblock %}