{% extends 'base.html' %}
{% block content %}
    <h3>{{shift.day}} {{shift.type}}: {{shift.staff_member.name}}</h3>
    <ul>
        <li>type: {{shift.type}}</li>
        <li>times: {{shift.times}}</li>
        <li>hours: {{shift.hours}}</li>
        <li>day: {{shift.day}}</li>
        <li>staff: {{shift.staff_member.name}}</li>
    </ul>
    <form id="edit_shift" action="/shifts/shift/{{shift.id}}/edit" method="post">
        <input type="text" placeholder="type" name="type" id="type">
        <input type="text" placeholder="times" name="times" id="times">
        <input type="text" placeholder="hours" name="hours" id="hours">
        <label for="day">day</label>
        <select name="day" id="day">
            <option value="Mon">Monday</option>
            <option value="Tue">Tuesday</option>
            <option value="Wed">Wednesday</option>
            <option value="Thu">Thursday</option>
            <option value="Fri">Friday</option>
            <option value="Sat">Saturday</option>
            <option value="Sun">Sunday</option>
        </select>
        <label for="staff">staff member</label>
        <select name="staff_id" id="staff">
            {% for staff_member in staff %}
                <option value="{{staff_member.id}}">{{staff_member.name}}</option>
            {% endfor %}
        </select>
        <input type="submit" value="confirm edit">
    </form>
{% endblock %}