{% extends 'base.html' %}
{% block content %}
    <table id="rota-create">
        <tr>
            <th><a href="/shifts/Mon">Mon</a></th>
            <th><a href="/shifts/Tue">Tue</a></th>
            <th><a href="/shifts/Wed">Wed</a></th>
            <th><a href="/shifts/Thu">Thu</a></th>
            <th><a href="/shifts/Fri">Fri</a></th>
            <th><a href="/shifts/Sat">Sat</a></th>
            <th><a href="/shifts/Sun">Sun</a></th>   
        </tr>
        <tr>
            <td>{% for shift in mon_shifts %}
                <ul>
                    <li><h3>{{shift.staff_member.name}}: {{shift.times}}</h3></li>
                    <li class="edit"><a href="/shifts/shift/{{ shift.id }}" class="view_edit_link">edit</a></li>
                </ul>
            {% endfor %}
            </td>
            <td>{% for shift in tue_shifts %}
                <ul>
                    <li><h3>{{shift.staff_member.name}}: {{shift.times}}</h3></li>
                    <li class="edit"><a href="/shifts/shift/{{ shift.id }}" class="view_edit_link">edit</a></li>
                </ul>
            {% endfor %}
            </td>
            <td>{% for shift in wed_shifts %}
                <ul>
                    <li><h3>{{shift.staff_member.name}}: {{shift.times}}</h3></li>
                    <li class="edit"><a href="/shifts/shift/{{ shift.id }}" class="view_edit_link">edit</a></li>
                </ul>
            {% endfor %}
            <td>{% for shift in thu_shifts %}
                <ul>
                    <li><h3>{{shift.staff_member.name}}: {{shift.times}}</h3></li>
                    <li class="edit"><a href="/shifts/shift/{{ shift.id }}" class="view_edit_link">edit</a></li>
                </ul>
            {% endfor %}
            <td>{% for shift in fri_shifts %}
                <ul>
                    <li><h3>{{shift.staff_member.name}}: {{shift.times}}</h3></li>
                    <li class="edit"><a href="/shifts/shift/{{ shift.id }}" class="view_edit_link">edit</a></li>
                </ul>
            {% endfor %}
            <td>{% for shift in sat_shifts %}
                <ul>
                    <li><h3>{{shift.staff_member.name}}: {{shift.times}}</h3></li>
                    <li class="edit"><a href="/shifts/shift/{{ shift.id }}" class="view_edit_link">edit</a></li>
                </ul>
            {% endfor %}
            <td>{% for shift in sun_shifts %}
                <ul>
                    <li><h3>{{shift.staff_member.name}}: {{shift.times}}</h3></li>
                    <li class="edit"><a href="/shifts/shift/{{ shift.id }}" class="view_edit_link">edit</a></li>
                </ul>
            {% endfor %}
        </tr>
        <tr>
            <td>note</td>
            <td>note</td>
            <td>note</td>
            <td>note</td>
            <td>note</td>
            <td>note</td>
            <td>note</td>
        </tr>
    </table>
{% endblock %}}